@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&family=Merriweather:ital,wght@0,400;0,700;0,900;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:wght@400;500;600;700&display=swap');

/* common styles */

body{
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
font-style: normal;
line-height: normal;
}
.primary-color{
  color:  #FF5400;
}




 /* nav styles */
nav{
  max-width: 1170px;
  background-color: #FFF;
  margin: 0 auto;
}
.travel{color: #FF5400;
  font-size: 2.5rem;
  font-weight: 800;
 

}

.tahmid{
  color: #131318;
font-size: 2.5rem;
font-weight: 800;

}
.travel-nav-bar{
  
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.travel-logo{
 
  font-weight: 800;
  font-size: 2.5rem;}

  .travel-logo{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.travel-menu > ul{
 
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.travel-menu ul li{
  font-size: 1.5rem;
  font-weight: 400;
  list-style: none;
}

.travel-menu li a{
  width: 50%;
  text-decoration: none;
}
.humbergur{
  display: none;
}

.home{
  color: #FF5400;
  font-size: 1.5rem;
  font-weight: 700;

}



/* nav section styles ends here */


/* main styles begins */
 .explore-img{ 
  max-width: 1170px;
  height: 500px;
  background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
  position: relative;
  margin: 0 auto;

  
}

.explore-about{
 
 text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform : translate(-50%, -50%);

}

.explore-heading{
  color: #FFF;
font-family: Mulish;
font-size: 4rem;
font-weight: 800;

}
.explore-description{
  color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 1rem;
font-weight: 400;

}

.banner-input{
 
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  font-weight: 700;
  margin-right: 24px;
  padding: 10px 20px;
  border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
  
}
.where{
  margin-right: 20px;

}
.find{
  color: white;
font-size: 1rem;
width:150px;
padding: 10px 20px;
border-radius: 8px;
background: #FF5400;

}


/* .primary-color{
  color: white;
  /* width: 24px;
height: 24px; */
flex-shrink: 0;
/* width: 174px;
height: 52px; */
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
} */
.popular-section {
  color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 1rem;
font-weight: 400;
margin: 0 auto;
/* 162.5% */

} 

.popular-title{
  color: #131318;
text-align: center;
font-family: Mulish;
font-size: 3rem;
font-weight: 800;

}
.popular-section img{
  width: 100%;

}

.popular-section{
  max-width: 1170px;
  margin-top: 100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.popular-img-section{
 
  width: 50%
}

.popular-descriptionL{
  border: 2px solid tomato;
  width: 50%;
  align-items: center;
  
  text-align: center;
}
.btn{
  background-color: #FF5400;
  padding: 10px 20px;
  color: #FFF;
text-align: center;
font-size: 1rem;
font-weight: 500;

}

.destination-heading{
  color: #131318;
text-align: center;
font-size: 2.5rem;
font-weight: 800

}
.destination-descripti0n{
  color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 1rem;
font-weight: 400;

}



.img-container{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 5px;
/* display: space-around; */
}





/* why choose us style */

.why-choose-section{
  max-width: 1140px;
  
  margin: 0 auto;
  gap: 6px;
  
}

.choose-part{
  display: grid;
grid-template-columns: repeat(2, 1fr);
  gap: 10px
  border: 2px solid red;
}


.why-choose-section-1{
  padding: 20px;
  text-align: left;
  border: 2px solid teal;
  border-radius: 16px;
}
.why-choose-section-1 img{
  padding-top: 20px;
  padding-left: 20px;
}


.why-choose-section-2{
  text-align: left;
  border-radius: 16px;
  padding: 20px;
  border: 2px solid aqua;
background: rgba(251, 181, 99, 0.05);

}

.why-choose-section-2 img{
  padding-top: 20px;
  padding-left: 20px;
}


.why-choose-description{
  text-align: left;
  color: #5A5A5D;
font-size: 1rem;
font-weight: 400;
}

.why-choose-section-3{
  border: 2px solid rebeccapurple;
  width: 573px;
  height: 284px;
  flex-shrink: 0;
  padding: 20px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
 text-align: left;
 
  border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
}
.why-choose-section-3 img{
  padding-top: 20px;
  padding-left: 20px;
}
  


/* why choose section styles ends here */


/* Getlost styles starts heree */
.Getlost-section{
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.Getlost-heading{
  color: #131318;
  text-align: center;
font-size: 2rem;
font-weight: 700;

}

.Getlost-para{
  color: black;
font-size: 1rem;
font-weight: 400;

}

.Getlost-button{
  color: #FFF;
text-align: center;
font-size: 1rem;
font-weight: 600;
padding: 10px 20px;
  border-radius 8px;
background: #FF5400;
}









/* 
getlost ends heree */

/* newletter styles starts here */


.newsletter-section{
  max-width: 1170px;
  margin: 50px auto;
  display: flex;
  justify-content: flex;
  gap: 20px;
}

.newsletter-input{
  width: 50%;
  background: #FFF;
 text-align: left;
 padding: 20px 20px;
  border-radius: 16px;
border: 1px solid #FF5400;
}
.name{
  margin-top: 20px;
  padding: 10px 100px;
  border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
}

.email{
  margin-top: 20px;
  padding: 10px 100px;
  border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
}

.subscribe{
  margin-top: 20px;
  padding: 10px 150px;
  border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;

font-size: 20px;

font-weight: 400;

}

.newsletter-img{
  width: 50%;
  position: relative;
}

.newsletter-img img{
  width: 100%;
}

.news {color: #131318;
font-size:1.5rem;
font-weight: 600;
}

.save{

  color: #FFF;
  border-radius: 16px;
  background: #FF5400;
font-size: 1.5rem;
font-weight: 600;

}

.save-travel{color: #FFF;
  font-size: 1rem;
  font-weight: 400;
  background: #FF5400;
 }
 .save{width: 250px;
  height: 100px;
  text-align: center;
  padding: 5px 10px;
  transform: rotate(-19.628deg);
  flex-shrink: 0;
position:absolute; 
top:60%;
left:50%;
top: 50%;
}

  .save-up{
    color: #FFF;
font-size: 1.5rem;
font-weight: 800;

  }


/* newletter styles ends here */


/* footer section start here */
.travel-footer{
  max-width: 1440px;
  margin-top: 100px;
  background: rgba(19, 19, 24, 0.05);
  border-top: 1px solid steelblue;
  border-bottom: 1px solid steelblue;

}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-description{color: #5A5A5D;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.copy{
  color: #131318;
  text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;}

/* .Reserved{
align-items: center;
  color: #131318;
text-align: center;
font-size: 1rem;
font-weight: 300; */


.icon{
  text-align: center;
}


/* footer section ends here */
