@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&family=Merriweather:ital,wght@0,400;0,700;0,900;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:wght@400;500;600;700&display=swap');

/* common styles */

body{
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
}
.primary-color{
  color:  #FF5400;
}




 /* nav styles */
nav{
  max-width: 1170px;
  background-color: #FFF;
  border: 2px solid rebeccapurple;
  margin: 0 auto;
  
}
.travel{color: #FF5400;
  font-size: 2.5rem;
  font-weight: 800;
 

}

.tahmid{
  color: #131318;
font-size: 2.5rem;
font-weight: 800;

}
.travel-nav-bar{
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.travel-logo{
  /* width: 50%; */
  font-weight: 800;
  font-size: 2.5rem;}

  .travel-logo{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.travel-menu > ul{
  /* width: 50%; */
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.travel-menu ul li{
  font-size: 1.5rem;
  font-weight: 400;
  list-style: none;
}

.travel-menu li a{
  width: 50%;
  text-decoration: none;
}

.home{
  font-size: 1.5rem;
  font-weight: 700;
}
.humbergur{
  display: none;
}



/* nav section styles ends here */


/* main styles begins */
 .explore-img{ 
  max-width: 1170px;
  border: 5px solid gold;
  height: 500px;
  /* margin: 106px 185px; */
  background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
  position: relative;
  margin: 0 auto;

  
}

.explore-about{
 
position: absolute;
top: 30%;
left: 30%;
tranform: translate(-50%, -50%)

}

.explore-heading{
  color: #FFF;
font-family: Mulish;
font-size: 4rem;
font-weight: 800;

}
.explore-description{
  color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 1rem;
font-weight: 400;

}

.banner-input{
  font-size: 1rem;
  font-weight: 700;
  margin-right: 24px;
  padding: 14px 14px;
  
}
.popular-section {
  color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 1rem;
font-weight: 400;
margin: 0 auto;
/* 162.5% */

} 

.popular-title{
  color: #131318;
text-align: center;
font-family: Mulish;
font-size: 3rem;
font-weight: 800;

}
.popular-section img{
  width: 100%;

}

.popular-section{
  max-width: 1170px;
  width: 100%;
  border: 3px solid red;
  display: flex;
}
.popular-img-section{
  border: 2px solid blue;
  width: 50%
}

.popular-descriptionL{
  border: 2px solid tomato;
  width: 50%;
  align-items: center;
  
  text-align: center;
}
.btn{
  background-color: #FF5400;
  
  color: #FFF;
text-align: center;
font-size: 1.5rem;
font-weight: 800;

}

.destination-heading{
  color: #131318;
text-align: center;
font-size: 2.5rem;
font-weight: 800

}
.destination-descripti0n{
  color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 1rem;
font-weight: 400;

}



.img-container{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 5px;
/* display: space-around; */
}





/* why choose us style */

.why-choose-section{
  max-width: 1140px;
  
  margin: 0 auto;
  gap: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.choose-part{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px
  border: 2px solid red;
}


.why-choose-section-1{
  padding: 20px;
  text-align: left;
  border: 2px solid teal;
  border-radius: 16px;
}
.why-choose-section-1 img{
  padding-top: 20px;
  padding-left: 20px;
}


.why-choose-section-2{
  text-align: left;
  border-radius: 16px;
  padding: 20px;
  border: 2px solid aqua;
background: rgba(251, 181, 99, 0.05);

}

.why-choose-section-2 img{
  padding-top: 20px;
  padding-left: 20px;
}


.why-choose-description{
  text-align: left;
  color: #5A5A5D;
font-size: 1rem;
font-weight: 400;
}

.why-choose-section-3{
  width: 573px;
  height: 284px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid steelblue;
  text-align: left;
  border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);

}

.why-choose-section-3 img{
  padding-top: 20px;
  padding-left: 20px;
}


/* why choose section styles ends here */


/* Getlost styles starts heree */
.Getlost-section{
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.Getlost-heading{
  color: #131318;
  text-align: center;
font-size: 3rem;
font-weight: 800;

}

.Getlost-para{
  color: #5A5A5D;
font-size: 1rem;
font-weight: 400;

}

.Getlost-button{
  color: #FFF;
text-align: center;
font-size: 1rem;
font-weight: 700;
padding: 10px 20px;
  border-radius 8px;
background: #FF5400;
}









/* 
getlost ends heree */

/* newletter styles starts here */


.newsletter-section{
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: flex;




}

.newsletter-input{
  width: 50%;
 text-align: left;
 padding: 20px 20px;
  border-radius: 16px;
border: 1px solid #FF5400;
}
.name{
  margin-top: 20px;
  padding: 10px 100px;
  border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
}

.email{
  margin-top: 20px;
  padding: 10px 100px;
  border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
}

.subscribe{
  margin-top: 20px;
  padding: 10px 150px;
  border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;

font-size: 20px;

font-weight: 400;



}

.newsletter-img{
  width: 50%;
}

.newsletter-img img{
  width: 100%;
}


/* newletter styles ends here */

